<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>

    <!-- <form method="post">
        <label for="fname">First Name : </label>
        <input type="text" id="fname" name="fname">
        <br>
        <label for="lname">Last Name : </label>
        <input type="text" id="lname" name="lname">
        <br>
        <button type="submit">Submit</button>
        <br><br><br>
    </form> -->

    <form method="post">
    <div class="container mt-sm-5 my-1">

        <div class="question ml-sm-5 pl-sm-5 pt-2">
            <div class="py-2 h5"><b>Q. What type of dish do you wan to make ?</b></div>
            <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                <label class="options">
                    <input type="radio" id="type" name="type" value=1>
                    <span class="checkmark"></span>
                    Healthy (Low on Calories)<br>
                </label>
                <label class="options">
                    <input type="radio" id="type" name="type" value=2>
                    <span class="checkmark"></span>
                    Vegetarian<br>
                </label>
                <label class="options">
                    <input type="radio" id="type" name="type" value=3>
                    <span class="checkmark"></span>
                    Non Vegetarian<br>
                </label>
                <label class="options">
                    <input type="radio" id="type" name="type" value=4>
                    <span class="checkmark"></span>
                    Vegetarian Dessert<br>
                </label>
                <label class="options">
                    <input type="radio" id="type" name="type" value=5>
                    <span class="checkmark"></span>
                    Non Vegetarian Dessert<br>
                </label>
                <br><br><br>
            </div>
        </div>

        <div class="question ml-sm-5 pl-sm-5 pt-2">
            <div class="py-2 h5"><b>Q. How much time do you have to make food ?</b></div>
            <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                <label class="options">
                    <input type="radio" id="mins" name="mins" value=1>
                    <span class="checkmark"></span>
                    15 minutes<br>
                </label>
                <label class="options">
                    <input type="radio" id="mins" name="mins" value=2>
                    <span class="checkmark"></span>30 minutes
                    <br>
                </label>
                <label class="options">
                    <input type="radio" id="mins" name="mins" value=3>
                    <span class="checkmark"></span>
                    1 hour<br>
                </label>
                <label class="options">
                    <input type="radio" id="mins" name="mins" value=4>
                    <span class="checkmark"></span>
                    2 hours
                    <br>
                </label>
                <label class="options">
                    <input type="radio" id="mins" name="mins" value=5>
                    <span class="checkmark"></span>
                    3 hours<br>
                </label>
                <label class="options">
                    <input type="radio" id="mins" name="mins" value=6>
                    <span class="checkmark"></span>
                    I can eat it tomorrow<br>
                </label>
                <br><br><br>
            </div>
        </div>

        <div class="question ml-sm-5 pl-sm-5 pt-2">
            <div class="py-2 h5"><b>Q. How difficult a dish do you want to make ?</b></div>
            <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                <label class="options">
                    <input type="radio" id="step" name="step" value=1>
                    <span class="checkmark"></span>
                    3 steps<br>
                </label>
                <label class="options">
                    <input type="radio" id="step" name="step" value=2>
                    <span class="checkmark"></span>
                    6 steps<br>
                </label>
                <label class="options">
                    <input type="radio" id="step" name="step" value=3>
                    <span class="checkmark"></span>
                    14 steps<br>
                </label>
                <label class="options">
                    <input type="radio" id="step" name="step" value=4>
                    <span class="checkmark"></span>
                    Give me a challenge<br>
                </label>
                <br><br><br>
            </div>
        </div>

        <div class="question ml-sm-5 pl-sm-5 pt-2">
            <div class="py-2 h5"><b>Q. How many ingredients do you want to use ?</b></div>
            <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                <label class="options">
                    <input type="radio" id="ingd" name="ingd" value=1>
                    <span class="checkmark"></span>
                    3 ingredients<br>
                </label>
                <label class="options">
                    <input type="radio" id="ingd" name="ingd" value=2>
                    <span class="checkmark"></span>
                    6 ingredients<br>
                </label>
                <label class="options">
                    <input type="radio" id="ingd" name="ingd" value=3>
                    <span class="checkmark"></span>
                    14 ingredients<br>
                </label>
                <label class="options">
                    <input type="radio" id="ingd" name="ingd" value=4>
                    <span class="checkmark"></span>
                    The whole supermarket<br>
                </label>
                <br><br><br>
            </div>
        </div>
    
        <div class="d-flex align-items-center pt-3">
            <div id="prev">
                <button class="btn btn-primary" type="submit">Sumbit</button>
            </div>
        </div>

    </div>
    </form>
    

</body>

</html>





    